In [1]:
from dataloader import *
from model import *
from train_eval_test import *
from torch.utils.tensorboard import SummaryWriter
import matplotlib.pyplot as plt
import pandas as pd
import csv
import os.path
from torch.utils.data import Subset, DataLoader, Dataset
from datetime import datetime

2024-01-20 12:34:52.550917: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-01-20 12:34:52.551979: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-01-20 12:34:52.575389: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-20 12:34:52.966146: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [6]:
path = "resultats/ablation/weather_ablation.csv"
file_exists = os.path.isfile(path)

with open(path, 'a' if file_exists else 'w', newline='') as fichier_sortie:
    res = pd.read_csv(path)
    mse = list(res.iloc[-2, 1::2][:-2])
    mae = list(res.iloc[-2, 2::2][:-2])

In [7]:
res

,Model,Run 1 (MSE),Run 1 (MAE),Run 2 (MSE),Run 2 (MAE),Run 3 (MSE),Run 3 (MAE),MSE Moyenne,MSE Variance,MAE Moyenne,MAE Variance
0,inverted,0.193265,0.242895,0.178333,0.221451,0.178728,0.22004,0.183442,0.000109,0.183442,0.000109
1,Att_Att,0.165379,0.211428,0.167843,0.212643,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
mse

[0.1932651153593151, 0.1783328000973496, 0.1787275391527348]

In [9]:
mae

[0.2428947411201618, 0.221450579824087, 0.2200397363185514]